{% extends 'base.html' %}

{% block title %}Delete Transaction - {{ business_settings.business_name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Delete Transaction</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-warning">
                    <h5>Warning!</h5>
                    <p>Are you sure you want to delete the transaction "{{ transaction.description }}" dated {{ transaction.date|date:"Y-m-d" }}?</p>
                    <p>This action cannot be undone and will remove all associated entries.</p>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'accounting:transaction_detail' transaction.pk %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}